* {
    padding: 0;
    margin: 0;
    font-family: arial;
}

/* Header */

header {
    background-image: url(./assests/Ellipse\ 9.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 622px;
}

/* Navbar style */

nav {
    padding: 60px 0px 56px 0px;
    margin: 0px 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 300px;
}


nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li a {
    margin-right: 40px;
    color: #0A2640;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

#login-btn {
    border: 2px solid #0A2640;
    padding: 8px 40px;
    font-size: 16px;
    border-radius: 24px;
    font-weight: 700;
    margin: 0;
}


/* Section boldo-promo */

.boldo-heading {
    width: 600px;
    font-size: 48px;
    line-height: 72px;
    margin: 67px 0px 16px 0px;
}

.boldo-description {
    width: 600px;
    font-size: 16px;
    color: #777777;
    line-height: 28px;
    margin-bottom: 49px;
}


.boldo-container{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

/* button style */

.but-template {
    background-color: #0A2640;
    border: 2px solid #0A2640;
    color: #fff;
    padding: 16px 56px;
    border-radius: 56px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 24px;
    cursor: pointer;
}

.explore {
    border: 2px solid #0A2640;
    background-color: #fff;
    padding: 16px 56px;
    border-radius: 56px;
    font-size: 20px;
    color: #0A2640;
    font-weight: 700;
    cursor: pointer;
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 99px 0px 75px 0px;
}


/* services-section */

.services-section {
    padding: 82px 100px 95px;
    background-color: #0A2640;
}

.services-title {
    font-size: 20px;
    color: #F1F1F1;
    text-align: center;
    margin-bottom: 12px;
}

.services-text {
    width: 780px;
    font-size: 48px;
    line-height: 72px;
    color: #fff;
    text-align: center;
    margin: auto;
}

/* three images services section */

.three-img {
    display: flex;
    justify-content: space-around;
    margin-top: 72px;
}

.items {
    margin-bottom: 24px;
}

.img-title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
}

.img-text {
    font-size: 20px;
    color: #fff;
    margin-right: 12px;
}

.right-side-arrow {
    width: 154px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;

}


/* Content Section style */

.content-container-w-a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
}
.content-section {
    padding: 120px 135px 285px;
}

.left-side-img{
    position: relative;
}

.stat-img {
    position: absolute;
    top: 196px;
    left: 155px;

}

/* Image below text style */
.image-below-text {
    font-size: 36px;
    line-height: 56px;
    margin: 330px 0px 64px 0px;
}

.star-text {
    background-color: #0A2640;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 24px;
    box-shadow: 2px 2px 10px 0px #ccc;

}

.star-text p {
    margin-left: 12px;
}

.eye-icon {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 24px;
    box-shadow: 2px 2px 10px 0px #ccc;
}

.eye-icon p {
    font-size: 16px;
    margin-left: 12px;
}

.sun-icon {
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 2px 10px 0px #ccc;

}

.sun-icon p {
    font-size: 16px;
    margin-left: 12px;
}

/* Image below text style end */

.we-title {
    width: 493px;
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 40px;
}


.cheak {
    background-color: #0A2640;
    padding: 5px;
    border-radius: 50%;
    margin-right: 27px;
}

.item-text {
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}


.start-now {
    border: 2px solid #0A2640;
    padding: 16px 56px;
    background-color: #0A2640;
    border-radius: 56px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-top: 56px;
    cursor: pointer;
}


/* Woman picture style */

.woman-picture{
    margin-top: 185px;
}

.woman-picture-c{
    position: relative;
}

.woman-stats{
    position: absolute;
    top: 462px;
    right: 120px;
}


/* Enterprise-template Style */

.enterprise-template-container{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}
.enterprise-template{
    padding: 100px 135px 95px;
    background-color: #0A2640;
    position: relative;
}

.enterprise-title{
    width: 712px;
    font-size: 48px;
    line-height: 72px;
    color: #fff;
    margin-bottom: 73px;
}

.direction-left{
    background-color: #fff;
    border-radius: 50%;
    padding: 15px;
    margin-right: 28px;
}

.direction-right{
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
}

.align-right{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 1105px;
    top: 175px;
}

/* Enterprise-template three boxes style */

.buzzword-phrase{
    background-color: #fff;
    width: 270px;
    height: 250px;
    border-radius: 12px;
    padding: 40px;
}
.buyer-buzz{
    font-size: 24px;
    line-height: 36px;
    width: 270px;
}

.Ellipse-image-text{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.albus-dumb{
    font-size: 16px;
    font-weight: 700;
    color: #0A2640;
    margin: 0px 0px 6px 16px;
}

.manager-howarts{
    font-size: 14px;
    color: #0A2640;
    margin-left: 16px;
}

/* second box style */

#hypotheses-box{
    background-color: #fff;
    width: 270px;
    border-radius: 12px;
    padding: 40px;
}

.hypotheses-box-title{
    font-size: 24px;
    width: 250px;
    line-height: 36px;
}

.hypotheses-image{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.serverus-snape{
    font-size: 16px;
    color: #0A2640;
    font-weight: 700;
    margin: 0px 0px 6px 16px;
}

.manager-slytherin{
    font-size: 14px;
    color: #0A2640;
    margin-left: 16px;
}

/* box three style */
.release-faceboox-box{
    background-color: #fff;
    width: 270px;
    height: 275px;
    border-radius: 12px;
    padding: 40px;
}

.release-facebook-title{
    font-size: 24px;
    line-height: 36px;
    width: 270px;
}

.release-facebook-img{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.harry-potter{
    font-size: 16px;
    color: #0A2640;
    font-weight: 700;
    margin: 0px 0px 6px 16px;
}

.team-leader{
    font-size: 14px;
    color: #0A2640;
    margin-left: 16px;
}

/* top image section */
.top-image{
    padding-top: 120px  ;
}

.top-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.image-title{
    font-size: 36px;
    line-height: 56px;
    width: 500px;
}

.down-arrow-title p{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 50px;
    border-bottom: 2px solid #777777;
    width: 493px;
    padding-bottom: 16px;
}

.down-arrow-title img{
    margin-left: 97px;
}

.down-arrow-text p{
    display: flex;
    align-items: center;
    font-size: 20px;
    border-bottom: 2px solid #777777;
    width: 493px;
    padding-bottom: 16px;
}

.down-arrow-text img{
    margin-left: 84px;
}

.down-arrow-container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 56px;
}

/* our blog style */
.our-blog-box{
    margin-top: 156px;
}
.our-blog-title{
    font-size: 20px;
    color: #777777;
    text-align: center;
    margin-bottom: 12px;
}

.our-blog-text{
    font-size: 48px;
    width: 800px;
    text-align: center;
    margin: auto;
}

/*  our blog three images  */

.blog-image-1{
    margin-bottom: 24px;
}

.Category{
    font-size: 16px;
    color: #0A2640;
    font-weight: 700;
}

.color-gray{
    color: #777777;
    font-size: 16px;
    margin-bottom: 12px;
}

.bkvalidation{
    font-size: 20px;
    width: 300px;
    line-height: 32px;
}

.profile{
    display: flex;
    align-items: center;
    margin-top: 57px;
}

.profile-title{
    font-size: 16px;
    margin-left: 12px;
}

.blog-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 79px;
}

.profile-two{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.proflie-btn{
    padding: 16px 56px;
    background-color: #fff;
    border: 2px solid #0A2640;
    border-radius: 56px;
    font-size: 20px;
    font-weight: 700;
    color: #0A2640;
    margin-bottom: 124px;
}

.profile-btn-l{
    margin-top: 84px;
    display: flex;
    justify-content: center;
}

/*  Footer an enterprise  */
.an-enterprise-section{
    width: 1200px;
    margin: auto;
    border-radius: 12px;
}
.an-enterprise-box{
    padding: 72px 242px;
}
.an-enterprise-section{
    background-color: #0A2640;
    background-image: url(./assests/bg-shape.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 740px;
}

.an-enterprise-text{
    font-size: 48px;
    line-height: 72px;
    color: #fff;
    width: 700px;
    text-align: center;
    margin: auto;
}

/* Two button style */
.your-email-btn{
    padding: 12px 158px 12px 32px;  
    font-size: 20px;
    border-radius: 240px;
    border: 2px solid #fff;
    background-color: #fff;
    margin-right: 24px;
}

.start-now-btn{
    padding: 16px 56px;
    background-color: #65E4A3;
    border-radius: 56px;
    border: 2px solid #65E4A3;
    color: #0A2640;
    font-size: 20px;
    font-weight: 700;
}

.two-btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* footer links style */

.logo-bottom-content{
    width: 300px;
    font-size: 16px;
    color: #777777;
    margin-block: 40px 64px;
    line-height: 28px;
}

.all-right{
    font-size: 16px;
    color: #777777;
    margin-bottom: 117px;
}


.footer-links {
    display: flex;
    justify-content: space-around;
    margin-top: 184px;
}


.footer-links ul li{
    list-style-type: none;
    padding-bottom: 32px;
}

.footer-links ul li a{
    color: #777777;
    text-decoration: none;
    font-size: 20px;
}

#anchor-bold{
    color: black;
    font-weight: 700;
}


.span-hiring{
    background-color: #65E4A3;
    font-size: 13px;
    padding: 10px 14px;
    font-weight: 700;
    border-radius: 120px;
    margin-left: 12px;
}
